nav {
  display: flex;
  margin-top: 15px;
  margin-left: 45px;
}
.navbar-ul {
  display: flex;
  align-items: center;
  margin-left: 75px;
  width: 100%;
  justify-content: center;
}
.navbar-ul li a {
  font-family: 'Brandon Grotesque';
  font-size: 18px;
  text-transform: uppercase;
  color: #7F7F7F;
  margin-right: 100px;
}
.navbar-ul li a:hover{
  border-bottom: 1px solid #7F7F7F;;
}
.nav-images{
  display: flex;
  margin-left: 70px;
  align-items: center;
}

.search{
  margin-right: 40px;
  cursor: pointer;
}

.social{
  margin-right: 10px;
}

.facebook {
  margin-right: 15px;
}

.section1{
  margin-top: 40px;
  background-image: url(../images/Banner\ Image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  height: 855px;
  width: 100%;
}
.wrapper{
  display: flex;
  width:100%;
  justify-content: center;
}

.border{
  position:relative;
  top: 539px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  width: 706px;
  height: 187px;
}

.border-text {
  font-family: 'Kazimir';
  font-size: 40px;
  color: #19381F;
}

.section2{
  background-color: #306B34;
  height: 779px;
  /* position: relative; */
}

.info {/*
  position: absolute;
  top:153px;*/
  
  display: flex;
  justify-content: center;
 /* width: 100%; */
 
}
.info-image{
  margin-top: 150px;
  margin-left: 140px;
}
.info-text{
  margin-top: 150px;
  width: 306px;
  margin-left: 65px;
}
.info-text1{
  font-family: 'Brandon Grotesque';
  font-size: 40px; 
  color: #19381F;
  margin-bottom: 65px;
}

.info-text2{
  font-family: 'Kazimir';
  font-size: 20px;
  color: #F4F4F1;
}
.section3 {
  display: flex;
  justify-content: center;
}
.section3-text1 {
  text-align: center;
  margin-top: 120px;
  font-family:'Kazimir';
  color: #36413E;
  font-size: 40px;
}

.section3-text2, .section3-text3{
  font-family: 'Kazimir';
  color: 'Kazimir';
  font-size: 20px;
  width: 696px;
}
.section3-text2{
  margin-top: 110px;
}
.section3-text3 {
  margin-top: 40px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
}
.btn-1{
  justify-items: center;
  background-color: #36413E;
  color: white;
  font-family: 'Brandon Grotesque';
  font-weight: bold;
  font-size: 12px;
  border: none;
  padding:15px 25px 15px 25px;
  cursor: pointer;
}

.btn-1:hover{
  color: black;
  background-color:white;
  transition:1s;
}

footer{
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  background-color: #306B34;
  height: 70px;
  color: white;
}

.footer-ul{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.footer-ul li a{
  font-family: 'Brandon Grotesque';
  color: white;
  font-size: 10px;
  margin-right: 45px
}

.footer-text{
  font-family:'Brandon Grotesque';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin: 30px 30px;
}